:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #ffd800;
  --color-secondary: #ff9900;
  --color-grey-1: #130d0d;
  --color-grey-2: #555555;
  --color-grey-3: #666666;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-size-70: 7rem;
  --font-size-30: 3rem;
  --font-size-17: 1.7rem;
  --font-size-14: 1.4rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  outline: 0;
}

.container {
  max-width: 144rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1\.5 {
  line-height: 1.5;
}

.position-relative {
  position: relative;
}

.font-bold {
  font-weight: var(--font-weight-700);
}

.font-medium {
  font-weight: var(--font-weight-500);
}

.font-regular {
  font-weight: var(--font-weight-400);
}

.text-gray {
  color: var(--color-grey-3);
}

.text-primary {
  color: var(--color-primary);
}

.heading-1 {
  font-size: 2rem;
}

.heading-2 {
  font-size: 2.5rem;
}

.heading-3 {
  font-size: 3rem;
}

.heading-4 {
  font-size: 3.5rem;
}

.heading-biggest {
  font-style: 7rem;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.d-inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex.direction-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.vertical-center {
  align-items: center;
}
